.div-secao-principal{
    background-image: url('../../img/fundo.jpg');
    background-color: #e5e5e5;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
}

.img-superman{
    width: 100%;
    max-width: 530px;
    min-width: 470px;
    height: 600px;
    mix-blend-mode: screen;
}

.img-adamnegro{
    width: 100%;
    height: 600px;
    max-width: 580px;
    min-width: 500px;
    mix-blend-mode: screen;
}

.conteudo{
    height: 1500px;
}